.game-screen-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.dealer-area {
  margin-bottom: 20px;
}

.player-area {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card-image {
  width: 100px;
  height: 150px;
  margin: 5px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 30px;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.info-panel {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
  color: white;
  text-align: center;
}
