.player-list-top-right {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #1f2229;
  color: #61dafb;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px;
}

.player-info {
  padding: 5px;
  border-bottom: 2px solid #61dafb;
}

.player-info:last-child {
  border-bottom: none;
}

.player-name {
  font-weight: bold;
}

.player-bet {
  font-size: 0.9rem;
  color: #ffffff;
}

.leave-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #dc3545;
  color: white;
  border: none;
  cursor: pointer;
}

.game-screen-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.dealer-area {
  margin-bottom: 20px;
}

.player-area {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card-image {
  width: 150px;
  height: 200px;
  margin-left: 5px;
  margin-top: 5px;
  transition: transform 0.3s ease;
}

.card-image:hover {
  transform: translateY(-20px);
  transition: transform 0.3s ease;
}

.card-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding: 10px;
  margin-right: 20px;
}

.controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.controls button {
  font-size: 1.2rem;
  border-radius: 8px;
  width: 100px;
  height: 50px;
}

.info-panel {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
  color: white;
  text-align: center;
}
